@model StreetFighter.web.Models.FichaTecnicaModel

@{
    ViewBag.Title = "Personagem";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="menu">
    <h1> @ViewBag.Title </h1>
    <br>
    <img src="@Model.Imagem" alt="ImagemPersonagem">

    <div class="text-float" id="personagens">
        <p><strong>Nome:</strong> @Model.Nome </p><br />
        <p><strong>Nascimento:</strong> @Model.Nascimento</p><br />
        <p><strong>Altura:</strong> @Model.Altura cm.</p><br />
        <p><strong>Peso:</strong> @Model.Peso kg.</p><br />
        <p><strong>Origem:</strong> @Model.IdOrigem </p><br />
        <p><strong>Golpes especiais:</strong> @Model.GolpesEspeciais </p><br />
        <br>
        <a href="~/StreetFighter/ListaPersonagens" style="align-content:center">Voltar</a>
    </div>
</div>    

