
@{
    ViewBag.Title = "Blanka";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @model StreetFighter.web.Models.FichaTecnicaModel
}

<div class="menu">
    <h1> @ViewBag.Title </h1>
    <br>
    <img src="http://www.streetfighter.com.br/upload/editor/20120823194105_127.png" alt="Blanka">
    <div class="text-float" id="blanka">

        <p><strong>Primeira aparição:</strong> @Model.PrimeiraAparicao </p>
        <p><strong>Nascimento:</strong> @Model.Nascimento</p>
        <p><strong>Altura:</strong> @Model.Altura cm.</p>
        <p><strong>Peso:</strong> @Model.Peso kg.</p>
        <p><strong>Medidas:</strong> @Model.Medidas</p>
        <p><strong>Tipo sanguíneo:</strong> @Model.TipoSanguineo </p>
        <p><strong>Habilidades especiais:</strong> @Model.HabilidadesEspeciais</p>
        <p><strong>Gosta:</strong> @Model.Gosta </p>
        <p><strong>Desgosta:</strong> @Model.Desgosta </p>
        <p><strong>Estilo de luta:</strong> @Model.EstiloDeLuta </p>
        <p><strong>Origem:</strong> Brasil @Model.Origem </p>
        <p><strong>Uma fala de vitória:</strong> @Model.FalaVitoria </p>
        <p><strong>SSF2 nickname:</strong> @Model.SSF2_NickName </p>
        <p><strong>SFA3 nickname:</strong> @Model.SFA3_NickName </p>
        <p><strong>SF4 nickname:</strong> @Model.SF4_NickName </p>
        <p><strong>SFA3 stage:</strong> Ramificação do Rio Madeira - pantano, Brasil </p>
        <p>(ramificação do rio Madeira: talvez possa ser Mato Grosso, ou Tocantins?).</p>
        <p><strong>SF2 stage:</strong> @Model.SF2_Stage </p>
        <p><strong>Golpes especiais famosos:</strong> @Model.GolpesEspeciaisFamosos </p>

    </div>
</div>    

