
@{
    ViewBag.Title = "Personagem";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @model StreetFighter.web.Models.CadastrarModel
}

<div class="menu">
    <h1> @ViewBag.Title </h1>
    <br>
    <img src="@Model.Imagem" alt="NovoPersonagem">

    <div class="text-float" id="blanka">
        <p><strong>Nome:</strong> @Model.Nome </p><br />
        <p><strong>Nascimento:</strong> @Model.DataNascimento</p><br />
        <p><strong>Altura:</strong> @Model.Altura cm.</p><br />
        <p><strong>Peso:</strong> @Model.Peso kg.</p><br />
        <p><strong>Origem:</strong> @Model.IdOrigem </p><br />
        <p><strong>Golpes especiais:</strong> @Model.GolpesEspeciais </p><br />
        <p><strong>PersonagemOculto: @Model.PersonagemOculto</strong><br />

    </div>
</div>  

