@model List<StreetFighter.Dominio.Personagem>
@{
    ViewBag.Title = "Lista de Personagens";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="menu">
    <h2 style="text-align:center">@ViewBag.title</h2>

@using (Html.BeginForm("ListaPersonagens", "StreetFighter", FormMethod.Get, new { @class = "form-horizontal" }))
{
    <input type="submit" value="Go" style="float:right;" />
    <input type="text" name="pesquisar" placeholder="Pesquisar..." style="float:right;" />
}
    <br><hr>
    <h3><a href="~/StreetFighter/Cadastrar">Cadastrar novo personagem</a></h3>
    <h3 style="color:red">
        @TempData["PersonagemExcluido"]
        @TempData["PersonagemEditado"]
    </h3>
    <h3 style="color:red">
        @TempData["cadastradoComSucesso"]
    </h3>
    <br />

    @if (Model != null)
    {
        foreach (var personagem in Model)
        {
            <div class="Personagens" style="display:inline-block; width:200px; height:200px; border:solid; border-color:black; margin-right:10px;">
                <a href="~/StreetFighter/FichaTecnica?id=@personagem.Id"><h3>@personagem.Nome</h3></a>
                <a href="~/StreetFighter/ExcluirPersonagem?id=@personagem.Id"><h6>Excluir personagem</h6></a>
                <a href="~/StreetFighter/EditarPersonagem?id=@personagem.Id"><h6>Editar personagem</h6></a>
            </div>
        }
    }
    else
    {
        <h2>Nenhum personagem cadastrado!</h2>
    }
    <br /><br /><br />
        <a href="~/StreetFighter/Index">Voltar</a>

</div>






