
@{
    ViewBag.Title = "Rodrigo Scheuer";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @model StreetFighter.web.Models.SobreModel
}

<div class="menu">
    <h1> @ViewBag.Title </h1>
    <br>
    <img src="~/Content/Images/Vinganca.jpg" alt="V de Vingança">
    <div class="text-float" id="perfil">

        <p><strong>Primeira aparição:</strong> @Model.PrimeiraAparicao</p>
        <p><strong>Nascimento:</strong> @Model.Nascimento .</p>
        <p><strong>Altura:</strong> @Model.Altura cm.</p>
        <p><strong>Peso:</strong> @Model.Peso Kg.</p>
        <p><strong>Medidas:</strong> @Model.Medidas .</p>
        <p><strong>Tipo sanguíneo:</strong>@Model.TipoSanguineo .</p>
        <p><strong>Habilidades especiais:</strong> @Model.HabilidadesEspeciais </p>
        <p><strong>Gosta:</strong> @Model.Gosta </p>
        <p><strong>Desgosta:</strong> @Model.Desgosta </p>
        <p><strong>Estilo de luta:</strong> @Model.EstiloDeLuta </p>
        <p><strong>Origem:</strong> @Model.Origem </p>
        <p><strong>Uma fala de vitória:</strong> @Model.FalaVitoria .</p>
        <p><strong>Golpes especiais famosos:</strong> @Model.GolpesEspeciaisFamosos </p>

    </div>
</div>    
